body {
  box-sizing: border-box;
}
.main {
  position: absolute;
  left: 60%;
  top: 20%;
  border: 1px solid black;
  text-align: center;
  width: 500px;
  height: 250px;
  padding-top: 50px;
  background-color: white;
}
input {
  width: 300px;
  padding: 4px;
  border-radius: 5px;
}
#btn {
  position: absolute;
  bottom: 20%;
  left: 65%;
  width: 80px;
  padding: 2px;
}
p {
  margin-right: 180px;
  font-size: x-small;
}
#forgot {
  text-decoration: none;
}
